.wrapper
  = render "left-bar"
  .chat-space
    .header
      .left-header
        .left-header__title
          グループ名ABC
        %ul.left-header__members
          Member：ABC
          %li.member
            名前ABC
      .right-header
        .right-header__button
        = link_to "Edit", edit_group_path(@group)

    .messages
      .message
        .message-data
          .message-data__user-name
            名前
          .message-data__date
            2018/00/00
        .main-meesage
          .main-message__content
            メッセージ
    .form
      %form
        %input.form__message{placeholder: 'type a message'}
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'push'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'send'}
