$white: #FFFFFF;


.wrapper {
  background-color: #AAAAAA;
  position: relative;
  .title-message{
    background-color: #38AEF0;
    width :100%;
    text-align: center;
    color: $white;
    font-size: 11px;
  }
  .left-bar {
    float: left;
    box-sizing: border-box;
    color: $white;
    width: 300px;
    .header {
      background-color:  #253141;
      height: 100px;
      line-height: 100px;
      padding: 0 20px;
      &__name {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
      }
      &__lists {
        display: inline-block;
        float: right;
        .list {
          display: inline-block;
        }
        .push {
          color: $white;
          font-size: 16px;
        }
      }
    }

    .groups {
      background-color:  #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px;
      .group {
        box-sizing: border-box;
        padding: 20px 0 40px;
        &__name {
          font-size: 15px;
        }
        &__message {
          font-size: 11px;
          margin-top: 5px;
        }
      }
    }
  }
  }
  .chat-space {
    float: right;
    width: calc(100% - 300px);
    .header {
      box-sizing: border-box;
      height: 100px;
      padding: 0 40px;
      .left-header {
        float: left;
        &__title {
          color: #333333;
          font-size: 20px;
          margin-top: 35px;
        }
        &__members {
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
          .member {
            display: inline-block;
            padding-right: 10px;
          }
        }
      }
      .right-header {
        border: 1px solid  #38AEF0;
        color: #38AEF0;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
      }
    }

    .messages {
      box-sizing: border-box;
      padding: 46px 40px 0;
      height: calc(100% - 100px - 90px);
      .message {
        .message-data {
          display: flex;
          &__user-name {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .main-message {
          margin-top: 10px;
          &__content {
            color: #434A54;
            font-size: 14px;
            margin-bottom: 40px;
          }
        }
      }
    }

    .form {
      position: fixed;
      bottom: 0;

      width: calc(100% - 300px);
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color:  #38AEF0;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
}
